<h2>글 상세보기</h2>
<div class="card" style="width: 50%; height: 50%;">
    <div class="card-body">
        <% if (post.filename && post.filename.length > 0) { %>
            <img src="uploads/<%= post.filename%>" class="card-img-top" alt="...">
        <% } %>
        <h5 class="card-title">
            <%= post.title%>
        </h5>
        <p class="card-text">
            <%= post.content%>
        </p>
        <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            <%= post.likes%>
        </p>
        <div style="display: flex;">
            <a href="/post/<%= post.id%>/edit" role="button" class="btn btn-primary">수정하기</a>
            <form action="/post/<%= post.id%>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-secondary">삭제하기</button>
            </form>
        </div>
    </div>
</div>

<div id="comment" class="container">

</div>