<h2>회원 정보</h2>

<div class="card" style="width: 50%; height: 50%;">
    <div class="card-body">
        <h5 class="card-title">
            <%= userInfo.email%>
        </h5>
        <p class="card-text">
            <%= userInfo.name%>
        </p>

        
        <div style="display: flex;">
            <!-- 로그인유저와 해당 유저 아이디가 같아야 보여줄 수 있다 -->
            <% if (user && user.id === userInfo.id) { %>
            <a href="/user/<%= userInfo.id%>/edit" role="button" class="btn btn-primary">수정하기</a>
            <form action="/user/<%= userInfo.id%>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-secondary">삭제하기</button>
            </form>
            <% } %>
            <!-- 로그인 유저만 팔로우 기능을 사용할 수 있고, 해당 유저와 로그인 유저가 같으면 팔로우를 보여줄 필요가 없다. -->
            <% if (!user || user && user.id !== userInfo.id) { %>
            <form action="/user/<%= userInfo.id%>/follow" method="get">
                <button type="submit" class="btn btn-outline-dark">팔로우</button>
                <p class="card-text"><%= followCount%></p>
            </form>
            <% } %>
        </div>
        
    </div>
</div>

<br>

<h3><%= userInfo.name%>님이 좋아요 누른 post</h3>
<div class="container">
    <% postsByUserLike.forEach(post => { %>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <% if (post.filename && post.filename.length > 0) { %>
                    <img src="/uploads/<%= post.filename%>" class="card-img-top" alt="...">
                <% } %>
                <h5 class="card-title"><%= post.title%></h5>
                <% if (post.user_id === null) { %>
                    <p class="card-text">익명</p>    
                <% } else { %>
                    <p class="card-text"><a href="/user/<%= post.user_id%>">작성자 바로가기</a></p> 
                <% } %>
                <p class="card-text"><%= post.created_at%></p>
                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg> <%= post.likes%></p>
                <a href="/post/<%= post.id%>" class="card-link">상세보기</a>
            </div>
        </div>
        <br>
    <% }) %>
</div>
